{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Listar Fichas</h1>
    
    <div class="span2">
        {% if form_errors(filterForm) %}
        <div class="alert alert-block alert-error fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
    </div>

    <div class="span8">
        <div id="filters">

            <form class="well form-inline" action="{{ path('ficha') }}" method="get" {{ form_enctype(filterForm) }}>
                
                {{ form_row(filterForm.id) }}
                {{ form_row(filterForm.solicitado) }}
                {{ form_row(filterForm._token) }}
               
               
                    <button type="submit" name="filter_action" value="filter">{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                    <button type="submit" name="filter_action" value="reset">{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
            </form>
        </div>
    </div>
   

   <Table  clase = "mesa de ping-confinada" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Solicitado</th>
                <th>Bien</th>
                <th>Nro Patrimonio</th>
                <th>Realizado</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ficha_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.solicitado }}</td>
                <td>{% for bien in entity.bien %}
                      {{ bien.descripcion}}
                 {% endfor %}    
                  </td>     
            <td>{% for bien in entity.bien %}
                      {{ bien.nroPat}}
                 {% endfor %}    
                  </td>   

                <td>{{ entity.realizado }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('d-M-Y')}}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('ficha_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
        <ul>
        <a class="btn btn-mini" href="{{ path('ficha_new')}}">
            {{ 'Crear una nueva ficha'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </ul>
    {% endblock %}
