<pdf>
    <dynamic-page>
    
   
   <Table >
        <thead>
            <tr>
                <th>Id</th>
                <th>Solicitado</th>
                <th>Bien</th>
                <th>Nro Patrimonio</th>
                <th>Realizado</th>
                <th>Fecha</th>
 
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</a></td>
                <td>{{ entity.solicitado }}</td>
                <td>{% for bien in entity.bien %}
                      {{ bien.descripcion}}
                 {% endfor %}    
                  </td>     
            <td>{% for bien in entity.bien %}
                      {{ bien.nroPat}}
                 {% endfor %}    
                  </td>   

                <td>{{ entity.realizado }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('d-M-Y')}}{% endif %}</td>
                <td>
              
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
        
    </dynamic-page>
</pdf>