{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ficha</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Solicitado</th>
                <td>{{ entity.solicitado }}</td>
            </tr>
            <tr>
                <th>Bien</th>
                <td>{{ entity.bien }}</td>
            </tr>
            <tr>
                <th>Realizado</th>
                <td>{{ entity.realizado }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ficha') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('ficha_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('ficha_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
