{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Detalles de Ficha</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Solicitado</th>
                <td>{{ entity.solicitado }}</td>
            </tr>
            <tr>
                <th>Bien/Bienes</th>
                   {% for bien in entity.bien %}
                    <tr>
                        <td>{{ bien.nroPat }}</td>
                        <td>{{ bien.descripcion }}</td>
                    </tr>
                {% endfor %}
            </tr>  
            <th>Trabajos realizados</th>
                   {% for trabajos in entity.trabajos %}
                     <tr><td>{{ trabajos.descripcion }}</td></tr>
                   {% endfor %}
            </tr> 
            <th>Componentes</th>
                   {% for componentes in entity.componentes %}
                     <tr><td>{{ componentes.descripcion }}</td></tr>
                   {% endfor %}
            </tr> 
             <tr>
                <th>Realizado</th>
                <td>{{ entity.realizado }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('d-M-Y')}}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ entity.observaciones }}</td>
            </tr>
            
        </tbody>
    </table>

        <ul class="record_actions">

      <ul>
        <a class="btn btn-mini" href="{{ path('ficha')}}">
            {{ 'Volver a la lista'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </ul>
          
             <ul>
        <a class="btn btn-mini" href="{{ path('ficha_new')}}">
            {{ 'Crear una nueva ficha'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </ul>
        
</ul>
{% endblock %}
