<!DOCTYPE html>
<html>
    <head>
<title>Ficha Tecnica Web</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href="{{ asset('bundles/proyectotecnico/css/bootstrap.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/proyectotecnico/css/bootstrap-responsive.css') }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/mos-css/mos-style.css') }}"> <!--pemanggilan file css-->
<script src="{{ asset('js/jquery-1.9.1.min.js') }}"></script>
    </head>
<body>

<div id="header">
	<div class="inHeader">
		<div class="mosAdmin">
		Bienvenido <br>
		</div>
	<div class="clear"></div>
	</div>
</div>
    {% block fos_user_content %}
{% block menu %}     
<div class="row">
<div id="wrapper">
	<div id="leftBar">   
	<ul>
		<li><a href="{{path('ficha')}}">Fichas</a></li>
                <li><a href="{{path('ficha_new')}}">Crear ficha</a></li>
                <li><a href="{{path('ingresos')}}">Ingresos</a></li>
		<li><a href="{{path('egresos')}}">Egresos</a></li>
        </ul>
	</div>
	<div id="rightContent">
            <div class="span8">
            <body>
        
          </body>
          </div>
	</div>
{% endblock menu%} 		
     
{% block body %}{% endblock %}       

{% endblock fos_user_content %} 

<div class="clear"></div>
<div id="footer">
	Camara de Diputados de la Provincia del Chaco
        <br> Direccion de Comunicaciones
                      <br> José María Paz 170
         
</div>
</div>
                </div>
</body>
</html>
