{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.edit.edit'|trans({'%entity%': 'Ingresos'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    <h1>{{ 'views.edit.edit'|trans({'%entity%': 'Ingresos'}, 'MWSimpleCrudGeneratorBundle') }}</h1>

    <form class="well" action="{{ path('ingresos_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
    <div class="control-group">
                <label class="control-label">Id</label>
                <div class="controls">                    <span class="input-xlarge uneditable-input">{{ entity.id }}</span>                </div>
            </div>            <div class="control-group">
                <label class="control-label">Fecha</label>
                <div class="controls">                    <span class="input-xlarge uneditable-input">{{ entity.fecha|date('d-M-Y') }}</span>                </div>
            </div>            <div class="control-group">
                <label class="control-label">Actuacionsimple</label>
                <div class="controls">                    <span class="input-xlarge uneditable-input">{{ entity.actuacionSimple }}</span>                </div>
            </div>            <div class="control-group">
                <label class="control-label">Observaciones</label>
                <div class="controls">                    <span class="input-xlarge uneditable-input">{{ entity.observaciones }}</span>                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Nro Patrimonio del Bien</label>
                <div class="controls">                    <span class="input-xlarge uneditable-input">{{ entity.bien.nroPat }}</span>                </div>
            </div>            <div class="control-group">
                <label class="control-label"></label>
                
            </div>            <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">                    <span class="input-xlarge ">{{ form_row(edit_form.fechaSalida) }}</span>                </div>
            </div> 
            {{ form_row(edit_form._token) }}
        <p>
            <button type="submit" class="btn btn-success" href="{{ path('ingresos') }}">{{ 'Registrar'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</button>
        </p>
    </form>

        <div>
    <div class="float-left">
        <a class="btn" href="{{ path('ingresos') }}">
            {{ 'Volver a la lista'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    </div>{% endblock %}