{% extends '::base.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Ingresos'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block body -%}
	<h1>{{ 'views.new.creation'|trans({'%entity%': 'Ingresos'}, 'MWSimpleCrudGeneratorBundle') }}</h1>

    <form class="well" action="{{ path('ingresos_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_row(form.fecha) }}
        {{ form_row(form.solicitado) }}    
        {{ form_row(form.dependencia) }}
        {{ form_row(form.actuacionSimple) }}
           
         Ingrese nro de patrimonio: 
         <input type="integer" id="nroPat">
               <div id="Bien">
                <br> Descripcion </br>   
                <input type="text"  id="descripcion" >
                <br> Tipo de bien </br> 
                <select id=tipoBien>
                    <option value=1>Impresora</option>
                    <option value=2>CPU</option>
                    <option value=3>Monitor</option>
                </select>
               </div>
              
        {{ form_row(form._token) }}
        <p>
            <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</button>
        </p>
    </form>

        <div>
    <div class="float-left">
        <a class="btn" href="{{ path('ingresos') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>

   
<script type="text/javascript">
     $(document).ready(function(){
         //Inicialmente oculto los datos del autor
    $('#Bien').attr('hidden',true);
  
        //luego via ajax busco los datos y habilito los campos
    $('#nroPat').focusout(function(){
        $.ajax({
            type:'POST',
            url: '{{path("ingreso_ajax")}}',
            data:  { nroPat: $('#nroPat').val()}
          }).done(function( msg ) {
            //alert( "Data Saved: " + msg );
           $('#Bien').attr('hidden',false);
            $('#descripcion').val(msg[0].descripcion);
            $('#tipoBien').val(msg[0].tipoBien);
              });
    });
   
    })
    </script>    

</div>{% endblock %}
